{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "accessor-pairs": [
      "error",
      { "setWithoutGet": true, "getWithoutSet": false }
    ],
    "array-bracket-spacing": ["error", "never"],
    "array-callback-return": "error",
    "arrow-body-style": ["error", "as-needed"],
    // "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "arrow-spacing": "error",
    "block-spacing": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "consistent-return": "error",
    "consistent-this": ["error", "that"],
    "curly": ["error", "multi-or-nest", "consistent"],
    "default-case": "error",
    "dot-location": ["error", "property"],
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "func-call-spacing": ["error", "never"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    // "function-paren-newline": ["error", "multiline"],
    "generator-star-spacing": ["error", "after"],
    "guard-for-in": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": ["error", "windows"],
    "max-depth": "error",
    "multiline-ternary": ["error", "always-multiline"],
    "new-parens": "error",
    "newline-per-chained-call": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-cond-assign": ["error", "always"],
    "no-console": "off",
    "no-duplicate-imports": ["error", { "includeExports": false }],
    "no-else-return": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "no-mixed-spaces-and-tabs": ["error"],
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "warn",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-proto": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow-restricted-names": "error",
    "no-tabs": "error",
    "no-template-curly-in-string": "warn",
    "no-trailing-spaces": "error",
    "no-undefined": "error",
    "no-underscore-dangle": [
      "error",
      { "allowAfterThis": true, "allowAfterSuper": true }
    ],
    "no-unmodified-loop-condition": "error",
    "no-unneeded-ternary": "error",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    "no-use-before-define": ["error", "nofunc"],
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-void": "error",
    "no-whitespace-before-property": "error",
    "no-with": "error",
    "padded-blocks": ["error", "never"],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-numeric-literals": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "require-await": "error",
    "rest-spread-spacing": ["error", "never"],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "semi-spacing": "error",
    "semi-style": ["error", "last"],
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "switch-colon-spacing": "error",
    "template-tag-spacing": "error",
    "yield-star-spacing": ["error", "after"],
    "yoda": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "$": false,
    "angular": false,
    "qflow": false
  }
}
